<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <style>
      Body {
        font-family: Calibri, Helvetica, sans-serif;
        background-color: rgb(192, 249, 255);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="display-4 text-center py-1">Welcome to the To Do App</h1>

      <div class="d-flex justify-content-between">
        <form action="/login">
          <button class="btn btn-outline-primary btn-lg">Login</button>
        </form>
        <form action="/register">
          <button class="btn btn-outline-primary btn-lg">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
